
<div class="row">
    <div class="span12">
		<div class="page-header">
			<p>
				<h3><%= link_to '<< voltar', @proposal %></h3>
			</p>
			<h1>	
				Editando Idéia: <%= @proposal.title %>
	        </h1>
		</div>


		<%= render 'form' %>

	</div>
</div>
