<div class="row">
	<div class="span12">

		<div class="page-header" id="proposal_id_<%= @proposal.id %>">
			<p>
				<h3><%= link_to '<< voltar', proposals_path %></h3>
			</p>
			<h1>	
				<h1>Nova ideia</h1>
	        </h1>
		</div>
		

		<%= render 'form' %>
	</div>
</div>

